body{
    background-color:#eeeeee;
}

#root {
    position:relative;
    margin: auto;
    padding: 10px;
    padding-left:100px;
    width: 500px;
    background-color: white;
    border: grey;
}

.one {
  -webkit-filter: drop-shadow(0 0.1em 0.15em rgba(0, 0, 0, 0.15)) drop-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.24));
  -moz-filter: drop-shadow(0 0.1em 0.15em rgba(0, 0, 0, 0.15)) drop-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.24));
  filter: drop-shadow(0 0.1em 0.15em rgba(0, 0, 0, 0.15)) drop-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.24)); }

.todoItem {
    width:400px;
    height:60px;
    background-color:#fdfdfd;
    border: 2px dotted #adadad;
    margin: 2px;
}

.todoText {
    margin-top:-8px;
}

.closeButton {
    position: relative;
    width:20px;
    height:20px;
    left:370px;
    top:20px;
}

.over {
    background-color:red;
}
.out {
    background-color: blue;
r}

.open {
    display: block;
}
.closed {
    display: none;
}