<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8SSYZJ6J2"></script>
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-H8SSYZJ6J2');
        </script>
  <link rel="canonical" href={{= canon}} />

  <title>{{= title}}</title>
  {{include: 'templates/headcss.template'}}
    {{= meta}}
  </head>

  <body>
                {{include: 'templates/header-nikki.template'}}
                <main>
		  <div class='{{= firstPathPart}} container'>
		    <article>{{= html}}</article>
		  </div>
		</main>
             
  </body>
</html>
