<header>
	<h1>
	<a href="/"><img alt="a random shape called blub" src="/assets/images/blup.svg" />Mipolai</a>
	</h1>
	<nav>
                <a href="/makes">makes</a>
		<a href="/apps"><s>apps</s></a>
		<a href="/about"><s>about</s></a>
                <a href="/stuff"><s>stuff</s></a>
	</nav>
</header>