

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600;700&display=swap');


@font-face {
  font-family: cooper;
  src: url(assets/fonts/cooper-bold-bt.ttf);

}
@font-face {
  font-family: moonflower;
  src: url(assets/fonts/MoonFlower-YzXXq.ttf);

}
@font-face {
  font-family: sans-shaded;
  src: url(assets/fonts/SansSerifShaded.ttf);

}
@font-face {
  font-family: volta;
  src: url(assets/fonts/VoltaT-Regu.ttf);
  font-weight: 400;
}
@font-face {
  font-family: volta;
  src: url(assets/fonts/VoltaT-Bold.ttf);
  font-weight: 700;
}


html {
  overflow-y: scroll;
}

body {
    background: #fbf0c7;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    margin-top: 0;
}

.container {
    background: #fbf0c7;
  
}
article {
    background: rgba(255,255,255,0.25);
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
    
    flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

/* begin header footer and nav */

footer {
    margin-top: 3rem;
    background-color: #5d5a4a;
    color: white;
    font-family: cooper;
    padding-bottom: 1rem;
}

footer .content {
    max-width: 65em;
    margin: 0 auto;
}
footer nav {

}
footer ul {
    display: flex;
}

footer li {
    padding: 6px;
}
footer a {
    text-decoration: none;
    color: white;
    

}

header img.logo {
    filter: invert(.5) sepia(1);
    transition: transform .7s;
    width: 150px;
    max-width: 22%;
    max-height: 22%;
    height: auto;
    object-fit: contain;

}
header img.logo:hover {
    filter: invert(.7) sepia(1);
    transform: scale(1.1);
}

header img.text {
    filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(56deg);
    width: 40em;
    max-width: 73%;
    height: auto;
    object-fit: contain;
}

header {
    background: #fbf0c7;
    max-width: 40em;
    margin: 0 auto;
}
header {

}

header h1 {
    margin-top: 0;
}
header h1 a {
    color: #845562;
    text-decoration: none;
}
header nav {

    display: flex;
    flex-flow: row wrap;
}
header nav a {
    color: #454546;
    
    font-size: 2em;
    font-family: volta;
    text-decoration: none;
    margin-left: 2rem;
    
    background-color: rgba(0,0,0,0.15);
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 25px 25px 25px 5%;
}



header nav a:hover {
    color: white;
    background-color: #e3ca57;
    transition: color, background-color .2s;

}



/* end header and nav */

/* begin blog posts */
/*

/* begin app cards */

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.post {
    margin: .5rem;
    width: calc(100% - 1rem);
    background: #fbfbfb;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 5%);
    cursor: pointer;
    transition: background .2s;
    list-style-type: none;


    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    
}
.post a {
    text-decoration: none;
    color: unset;
}
.post .content {
    padding: 1rem;
}
.post .content b {
    color :#454546;
    font-size: 2rem;
    font-family: sans-shaded;
    display: block;
    margin: 1rem;
    transition: all .2s;
}
.apps .post .content b {
    color: #534431;
    transform: rotate(1deg);

}
.post .content p {
    font-family: volta;
    transition: color .2s;
}
p img {
    max-width: 100%;
}

.picture_container {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.blog .picture_container {
    width: 200px;
    float: right;
}
.picture {
    user-select: none;
    pointer-events: none;
    width: 100%;
    transition: all .2s;
    filter: sepia(0.25);

}
video {
    width: 280px;
}
.post:hover .postimg {
    transform: scale(1.1);
    filter: sepia(0);
}

.post .content .date {
   
    font-family: volta;
    background: rgba(90,90,70,0.5);
    color: white;
    width: 110px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: -10px;
    text-transform: lowercase;
    line-height: 30px;
    text-align: center;
}

.apps .post:hover {
    background: #e3ca57;
}
.apps .post:hover b {
    color: black;
    transform: rotate(-1deg);
}
.apps .post:hover p {
    color: white;
}
/* end app cards */

article {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


b {
    font-family: cooper;
}
h1 {
    white-space:nowrap;
    font-family: sans-shaded;
    margin-top: 0;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
h2 {
    font-family: volta;
    color: #454546;
    margin-top: 0;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
p {
    font-family: volta;
    color: #454546
}

section {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #e3ca57;
}

article h2 {

    font-size: 24px;

}

code {
    max-width: 40em;
      margin-left: auto;
    margin-right: auto;
}

article p {
    font-size: 22px;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
article li {
    font-size: 1.25rem;
    font-family: volta;
}
article ul {
    background-color: rgba(255,255,255,0.5);
    padding-bottom: 10px;
    padding-top: 10px;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
} 
/* beginning to style the google calendar */
.twomonths {
    display: flex
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 
  text-align: center;

  padding-inline-start: 0;

  min-height: 240px;
}

.yellow {
    background-color: #e3ca57
   /* background: white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
                      linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
    background-size: 30px 30px;*/
}

.green {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #798C1B;
}
.blue {
    background-color: #4ACAD9;
    background-color: #57A2FF; 
}

.red {
    /*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
    background-color: #8C5330;

    
}

article .red p {
    color: white;
}
article .red h2 {
    color: white;
}
article .red h1 {
    color: white;
}
article .green p {
    /*color: white;*/
}
article .green p {
    color: white;
}
article .green h2 {
    color: white;
}
article .green h1 {
    color: white;
}



.calendar-wrapper {
    width: 420px;
    font-family: volta;
    background-color: rgba(255,255,255,0.5);
    padding: 1rem;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    
}
.weekday {
    background: rgba(0,0,0,.25);
    background-color: #e3ca57;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.calendar h1 {
  text-align: center;
}
.calendar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.calendar li {
    border: 2px solid transparent;
    list-style: none;

}

.deadline {
    border: 2px dotted black !important;
    background-color: #ded869;
    border-radius: 25px;
    cursor: pointer;
}

.deadline.past {
    background-color: #eeeeee
}
.deadline.past.fail {
    background-color: pink
}
.deadline.past.success {
 background-color: lightgreen
}
.today {
    background: rgba(0,0,0,0.2);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
.today.deadline {
    border: none !important;
    background-color: pink;
}
.calendar li .description {
    display: none;
}
.calendar li:hover .description {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    color: black;
    margin-top: -25px;
    margin-left: -2px;
    min-width: 2em;
    min-height: 2em;
    padding: 1em;
    transform: translate(-1em, -1em);
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,.3));
    font-size: 1rem;
    
}

img.prev-next-month {
    margin-left: 0.1em;
    height: 1.5em;
    cursor: pointer;
}
